body {
	min-width: 750px;
}

.b-block{
	width: calc(100% - 48px);
}

/*---------------------*/

.b-top-item .b-btn-red{
	min-width: 203px;
    padding: 17px 21px 19px 21px;
}
.b-top .b-address,
.b-top .b-timetable{
	padding-left: 26px;
}

.b-menu-list{
	width: 100%;
	display: table;
	text-align: center;
}
	.b-menu-list li{
		float: none;
		display: table-cell;
	}
		.b-menu-list li a,
		.b-menu-list li:last-child a{
			padding: 15px 0 17px 0;
		}

		.b-menu-list li:last-child{
			float: none;
		}

.b-services{

}
	.b-services-list{

	}
		.b-services-item{
			width: calc(100%/3 - 20px);
		}
		.b-services-item:nth-child(4n){
			margin-right: 24px;
		}
		.b-services-item:nth-child(3n){
			margin-right: 0;
		}

.b-statistics {
    width: calc(100%/3*2 - 9px);
}

.b-photo-item{
	width: 85vw;
}

.b-photo .b-photo-arrows.icon-left-arrow{
	left: 70px;
}
.b-photo .b-photo-arrows.icon-right-arrow{
	right: 70px;
}

.inner .b-services-item:nth-last-child(2){
	margin-bottom: 40px;
}

.b-specialists-item{
	width: calc(100%/3 - 20px);
}
.b-specialists-item:nth-child(4n){
	margin-right: 24px;
}
.b-specialists-item:nth-child(3n){
	margin-right: 0;
}
.b-specialists-item:nth-last-child(4){
	margin-bottom: 44px;
}
.b-footer-address-item.b-timetable{
	display: none;
}
.b-footer-address-item{
	width: 33%;
}
.b-footer-address-item .b-address-timetable{
	display: block;
}
	
@media screen and (max-width: 1020px){

	.b-menu{
		min-height: 56px;
		padding: 0 24px;
	}
	.b-menu .burger-menu{
		float: left;
		display: inline-block;
		margin-top: 16px;
	}
	.b-menu .b-btn-red{
		min-width: 203px;
		float: right;
		display: inline-block;
		padding: 10px 20px 12px 20px;
		margin-top: 9px;
	}
	.b-menu-list{
		display: none;
	}

	.b-photo-slider,
	.b-photo-item,
	.b-photo-img{
		height: 550px;
	}

	.b-photo .b-photo-arrows.icon-left-arrow{
		top: 248px;
		left: 50px;
	}
	.b-photo .b-photo-arrows.icon-right-arrow{
		top: -302px;
		right: 50px;
	}

	.b-review{
		display: inline-block;
		width: calc(100%/2 - 18px);
	}
	.main .b-review{
		margin-right: 0;
		padding: 0 50px;
	}
	.inner .b-review{
		float: none;
	}
	.inner .b-reviews-list .b-review:nth-child(3n){
		margin-right: 24px;
	}
	.inner .b-reviews-list .b-review:nth-child(2n){
		margin-right: 0;
	}
	.inner .b-reviews-list .b-review:nth-last-child(3){
		margin-bottom: 44px;
	}

	.b-side-left {
	    width: 100%;
	    max-width: 100%;
	    float: none;
	}
	.b-side-right {
	    width: 100%;
	    max-width: 600px;
	    margin: 0 auto;
	    float: none;
	    margin-top: 40px;
		background-position: 93% 84%;
	}
		.b-side-content{
			padding: 0;
		}
		.b-side-right h3{
			text-align: center;
		}

		.b-side-right .b-btn{
			margin-top: 10px;
		}

	.b-side-address {
	    float: left;
	    width: 50%;
	    padding-right: 24px;
	}

	.b-footer-copyright {
	    margin-right: 60px;
	}

	.b-footer-menu{
		display: none;
	}

	.b-top-list{
		display: block;
	}
	.b-top .b-timetable,
	.b-top-item .b-btn-red{
		display: none;
	}
	.b-top .b-address,
	.b-logo-cont{
		float: left;
	    display: inline-block;
	    width: 33%;
	}
	.b-top-item.b-address:nth-child(2){
		float: right;
	}
	.b-address-timetable{
		display: block;
	}
	.b-top .b-address,
	.b-top .b-timetable {
		padding-top: 16px;
	    padding-left: 32px;
	}
	.b-top-item .icon-pin {
	    top: 20px;
	}

	.b-footer-address-item{
		width: 50%;
		margin-bottom: 32px;
	}
	.b-footer-address-item .b-address-timetable{
		display: none;
	}
	.b-footer-right .b-btn {
	    float: left;
	    margin-top: 5px;
	}
	.b-footer-address-item.b-timetable{
		display: block;
		margin-bottom: 0;
	}

	.b-side-right h3 {
	    font-size: 26px;
	    line-height: 32px;
	}
	.b-top-item-inner{
		padding-right: 0;
	}
	.b-top-item-inner{
		position: relative;
		float: right;
	}
	.b-top-item-inner .icon-pin{
		top: 3px;
		left: -32px;
	}
}

@media screen and (max-width: 870px){

	.b-statistics {
	    padding: 28px 32px 32px;
	}
		.b-statistics h2{
			 margin-bottom: 24px;
		}
			.b-statistics-item {
			    margin-bottom: 24px;
			}

	.b-specialists-item{
		width: calc(100%/2 - 16px);
	}
	.b-specialists-item:nth-child(3n){
		margin-right: 24px;
	}
	.b-specialists-item:nth-child(2n){
		margin-right: 0;
	}
	.b-specialists-item:nth-last-child(3){
		margin-bottom: 44px;
	}

	.b-footer-copyright{
		display: block;
	}
	.b-redder{
		margin-top: 12px;
	}
}