@charset "utf-8";

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fm5oq2');
  src:  url('../fonts/icomoon.eot?fm5oq2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fm5oq2') format('truetype'),
    url('../fonts/icomoon.woff?fm5oq2') format('woff'),
    url('../fonts/icomoon.svg?fm5oq2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
        url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype'),
        url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
         url('../fonts/Ubuntu-Bold.woff') format('woff'),
         url('../fonts/Ubuntu-Bold.ttf') format('truetype'),
         url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
         url('../fonts/Ubuntu-Medium.woff') format('woff'),
         url('../fonts/Ubuntu-Medium.ttf') format('truetype'),
         url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
         url('../fonts/Ubuntu-Regular.woff') format('woff'),
         url('../fonts/Ubuntu-Regular.ttf') format('truetype'),
         url('../fonts/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1152px;
	text-align: left;
	font-size: 16px;
	line-height: 26px;
	font-family: 'Ubuntu-Regular', Sans-serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #434343;
}
a{
	text-decoration: none;
	color: #434343;
}
ul li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error, span.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'Ubuntu-Bold', Sans-serif;
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1152px;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.6);
}
input:-moz-placeholder {
	color: rgba(255,255,255,0.6);
}
[class^="icon-"]:before, 
[class*=" icon-"]:before,
[class^="icon-"]:after, 
[class*=" icon-"]:after,
ul.b-breadcrumbs li:after,
.fancybox-close-small:after,
.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.b-btn{
	display: inline-block;
	min-width: 217px;
	background-color: #3c5d9f;
	color: #FFF;
	text-align: center;
	padding: 17px 29px 19px 29px;
	font-family: 'Ubuntu-Regular';
	border-radius: 3px;
	line-height: 16px;
}
	.b-btn:hover{
		background-color: #323b63;
	}
.b-btn-red{
	background-color: #f14942;
}
	.b-btn-red:hover{
		background-color: #d43c36;
	}

.b-content .b-btn{
	min-width: 250px;
}
.b-content .b-btn-red{
	padding: 16px 29px 18px 29px;
}

.b-center{
	text-align: center;
}

.regular{
	font-family: 'RobotoSlab-Regular';
}

h1.b-title{
	color: #434343;
	font-family: "RobotoSlab-Bold";
	font-size: 44px;
	line-height: 58px;
}

h2{
	color: #434343;
	font-family: "RobotoSlab-Bold";
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 26px;
}

h2.b-title{
	color: #434343;
	font-family: "RobotoSlab-Bold";
	font-size: 38px;
	line-height: 44px;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 58px;
}

h3{
	color: #434343;
	font-family: "RobotoSlab-Bold";
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 8px;
}

h4{
	color: #434343;
	font-family: "RobotoSlab-Bold";
	font-size: 18px;
	line-height: 28px;
}

.blue{
	color: #3c5d9f;
}

.red{
	color: #f14942;
}

.icon-pin:before{
	content: "\e908";
	font-size: 24px;
    color: #3c5d9f;
    line-height: 24px;
}
.icon-clock:before{
	content: "\e904";
	font-size: 20px;
    color: #3c5d9f;
    line-height: 20px;
}

.icon-left-arrow:before{
	content: "\e905";
	font-size: 32px;
    color: #3c5d9f;
    line-height: 32px;
}

.icon-right-arrow:before{
	content: "\e906";
	font-size: 32px;
    color: #3c5d9f;
    line-height: 32px;
}

.icon-more:after{
	display: inline-block;
    vertical-align: top;
    content: "\e900";
    font-size: 12px;
    color: #3c5d9f;
    line-height: 20px;
    margin-left: 10px;
}

.icon-vk:before{
	content: "\e907";
	font-size: 18px;
    color: #3c5d9f;
    line-height: 26px;
}
.icon-instagram:before{
	content: "\e901";
	font-size: 26px;
    color: #3c5d9f;
    line-height: 26px;
}
.icon-flamp:before{
	content: "\e902";
	font-size: 26px;
    color: #3c5d9f;
    line-height: 26px;
}

.icon-clock-stat:before{
	content: "\e903";
	font-size: 36px;
    color: #FFF;
    line-height: 36px;
}
.icon-doctor:before{
	content: "\e909";
	font-size: 36px;
    color: #FFF;
    line-height: 36px;
}
.icon-patients:before{
	content: "\e90a";
	font-size: 36px;
    color: #FFF;
    line-height: 36px;
}
.icon-therapy:before{
	content: "\e90b";
	font-size: 41px;
    color: #FFF;
    line-height: 41px;
}

.icon-situation:before{
	content: "\e90e";
	font-size: 53px;
    color: #3c5d9f;
    line-height: 53px;
}
.icon-equipment:before{
	content: "\e90c";
	font-size: 84px;
    color: #3c5d9f;
    line-height: 84px;
}
.icon-spec:before{
	content: "\e90f";
	font-size: 74px;
    color: #3c5d9f;
    line-height: 74px;
}
.icon-price:before{
	content: "\e90d";
	font-size: 80px;
    color: #3c5d9f;
    line-height: 80px;
}

.icon-burger-menu:before{
	content: "\e910";
	font-size: 17px;
    color: #FFF;
    line-height: 17px;
}

.icon-phone:before{
	content: "\e911";
	font-size: 16px;
    color: #3c5d9f;
    line-height: 16px;
}

.icon-checked:before{
	content: "\e913";
	font-size: 18px;
    color: #FFF;
    line-height: 18px;
}

.icon-close:before{
	content: "\e912";
	font-size: 16px;
    color: #FFF;
    line-height: 16px;
}

/*---------inputs----------*/

.b-input{
	position: relative;
}
	.b-input input{
		width: 100%;
		padding: 14px 24px;
		border-radius: 3px;
		border: 1px solid #FFF;
		background-color: rgba(255, 255, 255, 0.3);
		margin-bottom: 24px;
		color: #FFF;
		font-family: 'Ubuntu-Regular';
		font-size: 16px;
		line-height: 26px;
	}
	.b-input.b-input-half{
		float: left;
		width: calc(50% - 12px);
		margin-right: 24px;
	}
	.b-input.b-input-half:last-child{
		margin-right: 0;
	}

/*---------checkbox---------*/


.b-checkbox input[type="checkbox"].error + span + label .b-checked,
.b-checkbox input[type="checkbox"].error + label .b-checked{
	border: 1px solid #F00;
	/*box-shadow: 0px 0px 0px 2px #F00;*/
}
.b-checkbox label{
	font-family: 'Ubuntu-Regular';
	font-size: 14px;
	line-height: 22px;
	cursor: pointer;
}

.b-checkbox input[type="checkbox"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
	.b-checkbox .b-checked{
		display: inline-block;
		vertical-align: top;
		margin-top: 9px;
		width: 24px;
		height: 24px;
		border-radius: 5px;
		border-radius: 3px;
		background-color: rgba(255, 255, 255, 0.3);
		border: 1px solid #FFF;
		margin-right: 10px;
		position: relative;
	}
		.b-checkbox:hover .b-checked{
			border-color: #FFF;
			background-color: rgba(255, 255, 255, 0.5);
		}
		.b-checkbox .b-checked:before{
			position: absolute;
			left: 2px;
    		top: 1px;
			display: none;
		}
		.b-checkbox input[type="checkbox"]:checked + span + label .b-checked:before,
		.b-checkbox input[type="checkbox"]:checked + label .b-checked:before{
			display: block;
		}

	.b-checkbox p{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 40px);
	}

/*-------Мобильное меню-------*/

.slideout-menu{

}
	.slideout-menu h2{
		color: #434343;
		font-family: 'RobotoSlab-Bold';
		font-size: 24px;
		line-height: 36px;
		text-align: left;
		margin-bottom: 0;
	}
	.slideout-menu ul{
		background-color: #f3f2f6;
		padding: 8px 0;
	}
		.slideout-menu ul li{
			padding: 0 24px;
		}
			.mobile-menu ul li.active a,
			.mobile-menu ul li a.active{
				color: #3c5d9f;
			}
			.mobile-menu ul li a{
				display: block;
				color: #434343;
				font-family: 'Ubuntu-Regular';
				font-size: 16px;
				padding: 16px 0;
				border-bottom: 1px solid #eaeaea;
			}
			.mobile-menu ul li:last-child a{
				border-bottom: 0;
			}
	.slideout-menu .b-btn-buy,
	.slideout-menu .b-basket-down .b-btn-buy{
		float: none;
		text-align: center;
		width: 100%;
		padding: 11px 34px 12px;
	}

	.slideout-menu-padding {
	    padding: 24px 24px 26px 24px;
	}
	div.slideout-menu-padding {
	    padding-bottom: 94px;
	}

	.slideout-menu .b-btn-red{
		width: 100%;
		display: block;
	}

/*-------b-text-------*/

.b-text{
	width: 100%;
	max-width: 858px;
}
	.b-text h2{
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 20px;
	}
	.b-text h3{
		font-size: 22px;
		line-height: 36px;
		margin-bottom: 16px;
	}
	.b-text p{
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 25px;
	}
		.b-text > *:last-child{
			margin-bottom: 0;
		}
	.b-text b{
		font-family: "Ubuntu-Bold";
		font-weight: normal;
	}
	.b-text a{
		color: #3c5d9f;
		text-decoration: underline;
	}
		.b-text a:hover{
			text-decoration: none;
		}
	.b-text img{
		width: 100%;
		height: auto;
		margin-bottom: 32px;
	}
	.b-text ul{
	    list-style: none;
	    margin-top: 8px;
	    margin-bottom: 32px;
	}
	.b-text h3 + ul,
	.b-text h2 + ul,
	.b-text h4 + ul,
	.b-text p + ol,
	.b-text h3 + ol,
	.b-text h2 + ol,
	.b-text h4 + ol,
	.b-text p + ol{
		margin-top: 0;
	}
	.b-text p + ul,
	.b-text p + ol{
		margin-top: -16px;
	}
		.b-text ul li{
			position: relative;
			padding-left: 25px;
			margin-bottom: 8px;
		}
			.b-text ul li:before {
			    content: " ";
			    position: absolute;
			    top: 10px;
			    left: 0;
			    width: 8px;
			    height: 8px;
			    background-color: #3c5d9f;
			    border-radius: 4px;
			}
	.b-text ol{
	    margin-top: 8px;
	    margin-bottom: 32px;
	    counter-reset: myCounter;
	}
		.b-text ol li{
			list-style: none;
			position: relative;
			margin-bottom: 8px;
			padding-left: 25px;
		}
			.b-text ol li:before {
			    counter-increment: myCounter;
			    content: counter(myCounter)".";
			    color: #3c5d9f;
			    display: inline-block;
			    text-align: center;
			    margin-right: 13px;
			    font-family: "Ubuntu-Bold";
			    position: absolute;
			    left: 0px;
			    top: 0px;
			}
/*-------------------*/

.b-top{
	font-family: "Ubuntu-Regular";
	font-size: 16px;
	line-height: 24px;
	padding-top: 22px;
	margin-bottom: 20px;
}
	.b-top-list{
		width: 100%;
		display: table;
	}
	
		.b-top-head{
			font-family: "RobotoSlab-Bold";
			line-height: 28px;
			margin-bottom: 4px;
		}
		.b-top-item{
			display: table-cell;
			width: 20%;
			vertical-align: top;
			position: relative;
			padding-right: 12px;
		}
			.b-top-item:last-child{
				padding-right: 0;
			}
			.b-top-item .b-btn-red{
				margin-top: 32px;
				float: right;
			}

		.b-top .b-address{
			padding-top: 30px;
			padding-left: 32px;
		}
			.b-top-item .icon-pin{
				position: absolute;
				top: 33px;
				left: 0;
			}
			.b-address-timetable{
				display: none;
			}

		.b-logo-cont{
			text-align: center;
		}
			.b-logo{
				display: inline-block;
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-image: url(../i/logo.svg);
			    background-size: 140px;
			    width: 140px;
			    height: 110px;
			    padding-top: 0;
			}
		.b-top .b-timetable{
			padding-top: 30px;
			padding-left: 32px;
		}
			.b-top .b-timetable .icon-clock{
				position: absolute;
				top: 34px;
				left: 0;
			}

.b-menu-cont{
	position: relative;
	height: 28px;
}
	.b-menu{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
		background: #4769a7;
		background: -webkit-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
		background: -moz-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
		background: -o-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
		background: -ms-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
		background: linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
		border-radius: 3px;
	}
		.b-menu .burger-menu,
		.b-menu .b-btn-red{
			display: none;
		}

		.b-menu-list{
			
		}
			.b-menu-list li{
				float: left;
			}
				.b-menu-list li a{
					display: block;
					font-family: "RobotoSlab-Regular";
					padding: 15px 36px 17px 35px;
					color: #FFF;
					border-radius: 3px;
					cursor: pointer;
				}
				.b-menu-list li:hover a{
					background-color: #5673B0;
				}
				.b-menu-list li a.active{
					background-color: #323b63;
				}
			.b-menu-list li:last-child{
				float: right;
			}
			.b-menu-list li:last-child a{
				padding: 15px 34px 17px 34px; 
			}

	.b-timetable-mobile,
	.b-top-phone-mobile,
	.b-footer-timetable-mobile{
		display: none;
	}

.b-slider{
	position: relative;
	height: 600px;
	overflow: hidden;
}
	.b-slider .slick-slide{
		height: 600px;
	}
	.b-slider-content{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 600px;
	}
		.b-slider-content-wrap{

		}
			.b-slider-content-item{
				position: absolute;
				bottom: 80px;
				width: 100%;
				text-align: center;
			}
				.b-slider-content-item h2{
					padding: 0 40px;
					font-family: "RobotoSlab-Bold";
					font-size: 44px;
					line-height: 56px;
					margin-bottom: 0;
				}
				.b-slider-content-item .b-slider-text-small{
					display: block;
					color: #3c5d9f;
					font-family: 'RobotoSlab-Regular';
					font-size: 26px;
					line-height: 36px;
				}
				.b-slider-content-item p{
					max-width: 640px;
					padding: 0 20px;
					margin: 20px auto 0 auto;
				}
				.b-slider-content-item .b-btn{
					margin-top: 30px;
				}
	.b-slider-back{
		width: 100%;
		height: 600px;
		z-index: 1;
	}
		.b-slider-back-item{
			width: 100%;
			height: 600px;
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: cover;
		}

	.b-slider-back-white{
		position: absolute;
		bottom: -1px;
		z-index: 5;
		height: 420px;
		width: 100%;
		background-position: left bottom;
		background-image: url(../i/slider-back-white.png);
		background-repeat: repeat-x;
		background-size: contain;
	}

	.b-slider .b-btn{
		padding: 16px 29px 18px 29px;
	}

.slick-dotted.slick-slider{
	margin-bottom: 0;
}

.b-slider-arrows{
	position: absolute;
    cursor: pointer;
    z-index: 1;
    padding: 15px;
}
.b-slider-arrows.icon-left-arrow{
	top: 269px;
	left: -15px;
}
	.b-slider-arrows.icon-left-arrow:hover:before{
		color: #323b63;
	}
.b-slider-arrows.icon-right-arrow{
	top: -331px;
	right: -15px;
}
	.b-slider-arrows.icon-right-arrow:hover:before{
		color: #323b63;
	}

.b-photo-arrows{
	position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 54px;
    height: 54px;
    text-align: center;
	background-color: rgba(255,255,255, 0.8);
	border-radius: 100px;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.b-photo-arrows:hover{
	background-color: rgba(255,255,255, 1);
}
.b-photo-arrows.icon-left-arrow{
	top: 323px;
	left: 24px;
}
	.b-photo-arrows.icon-left-arrow:before,
	.b-photo-arrows.icon-right-arrow:before{
		position: absolute;
	    top: 11px;
		display: block;
		font-size: 18px;
	}
	.b-photo-arrows.icon-left-arrow:before{
	    left: 21px;
	}
	.b-photo-arrows.icon-right-arrow:before{
	    left: 24px;
	}
	.b-photo-arrows.icon-left-arrow:hover:before{
		color: #323b63;
	}
.b-photo-arrows.icon-right-arrow{
	top: -376px;
	right: 24px;
}
	.b-photo-arrows.icon-right-arrow:hover:before{
		color: #323b63;
	}

.b-reviews .b-photo-arrows.icon-left-arrow{
	background-color: #FFF;
}
.b-reviews .b-photo-arrows.icon-left-arrow{
	top: 162px;
	left: 0;
}
.b-reviews .b-photo-arrows.icon-right-arrow {
    top: 162px;
    right: 0;
}

.slick-dots{
	bottom: 5px;
}

.slick-dots li{
	width: 18px;
	height: 18px;
	margin: 0 3px;
}
.slick-dots li button{
	width: 18px;
	height: 18px;
}

.slick-dots li button:before,
.slick-dots li button:before{
    content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
    font-size: 0;
    background-color: rgba(67, 67, 67, 0.2);
    border-radius: 100px;
    opacity: 1;
}

.slick-dots li:hover button:before,
.slick-dots li:hover button:before{
    background-color: #434343;
    opacity: 0.5;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button:before{
    opacity: 1;
    background-color: #434343;
}

.b-content{
	padding: 50px 0 70px 0;
	background-color: #FFF;
}

.b-services{

}
	.b-services-list{

	}
		.b-services-item{
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: calc(100%/4 - 22px);
			margin-right: 24px;
			margin-bottom: 40px;
		}
		.b-services-item:nth-child(4n){
			margin-right: 0;
		}
			.b-services-img{
				display: inline-block;
			    width: 140px;
			    height: 140px;
			    border-radius: 100px;
			    background-position: 50% 50%;
			    background-repeat: no-repeat;
				background-size: cover;
				margin-bottom: 12px;
			}
			.b-services-item h3{
				font-size: 21px;
				margin-bottom: 14px;
			}
			.b-services-item ul{

			}
				.b-services-item ul li{
					font-size: 15px;
					line-height: 28px;
				}
					.b-services-item ul li:hover a{
						text-decoration: underline;
					}

		.b-statistics{
			float: right;
			width: 49%;
			padding: 37px 44px 41px 44px;
			margin-bottom: 40px;
			border-radius: 3px;
			color: #FFF;
			background-image: url(../i/statistics-back.svg), -webkit-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
			background-image: url(../i/statistics-back.svg), -moz-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
			background-image: url(../i/statistics-back.svg), -o-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
			background-image: url(../i/statistics-back.svg), -ms-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
			background-image: url(../i/statistics-back.svg), linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
			background-position: 93% 88%;
			background-repeat: no-repeat;
		}
			.b-statistics h2{
				color: #FFF;
			}
			.b-statistics-item{
				position: relative;
				padding-left: 58px;
				margin-bottom: 30px;
			}
			.b-statistics-item:last-child{
				margin-bottom: 0;
			}
			.b-statistics-half:first-child{
				float: left;
				width: 53%;
				padding-right: 20px;
			}

			.b-statistics-half:last-child{
				float: left;
				width: 47%;
				padding-left: 50px;
			}
				.b-statistics-icon{
					position: absolute;
					top: 5px;
					left: 0;
					opacity: 0.8;
				}
				.b-statistics-item h3{
					color: #FFF;
					margin-bottom: 0;
				}
				.b-statistics-item p,
				.b-statistics-item .p{
					font-size: 14px;
					line-height: 22px;
				}

.b-about{
	padding: 90px 0 70px 0;
	background-position: left top;
	background-image: url(../i/line-white-down.png);
	background-repeat: repeat-x;
	background-size: contain;
}
.b-about-page{
	margin-top: -32px;
}
	.b-about-content{
		margin-bottom: 60px;
	}
		.b-about-left{
			float: left;
			width: 51.1%;
			padding-right: 5%;
		}
			.b-about-header{
				margin-bottom: 21px;
			}
				.b-about-header-item{
					float: left;
				}
					.b-about-header-item h2{
						display: inline-block;
						font-size: 38px;
						line-height: 44px;
						margin-bottom: 0;
						padding-right: 10px;
					}
					.b-about-header-item p{
						font-size: 26px;
						color: #3c5d9f;
						font-family: 'RobotoSlab-Regular';
					}
			.b-about-left p{

			}
			.b-about-video{
				display: block;
				position: relative;
				width: 100%;
				height: 295px;
				border-radius: 3px;
				overflow: hidden;
				margin-top: 32px;
			}
				.b-video-back{
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 1;
					border-radius: 3px;
					background-position: 50% 50%;
					background-image: url(../i/video.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					-webkit-transition: transform 450ms cubic-bezier(.45,.68,.62,.98);
				    -moz-transition: transform 450ms cubic-bezier(.45,.68,.62,.98);
				    -ms-transition: transform 450ms cubic-bezier(.45,.68,.62,.98);
				    -o-transition: transform 450ms cubic-bezier(.45,.68,.62,.98);
					transition: transform 450ms cubic-bezier(.45,.68,.62,.98);
				}
				.b-video-translucent{
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 2;
					opacity: 0.42;
					border-radius: 3px;
					background-image: -webkit-linear-gradient(135deg, #6087cf 0%, #3c497e 100%);
					background-image: -moz-linear-gradient(135deg, #6087cf 0%, #3c497e 100%);
					background-image: -o-linear-gradient(135deg, #6087cf 0%, #3c497e 100%);
					background-image: -ms-linear-gradient(135deg, #6087cf 0%, #3c497e 100%);
					background-image: linear-gradient(135deg, #6087cf 0%, #3c497e 100%);
				}
				.b-video{
					position: absolute;
					top: calc(50% - 57px);
					left: calc(50% - 57px);
					z-index: 3;
					width: 113px;
					height: 113px;
				}
					.b-video-circle{
						width: 100%;
						height: 100%;
						border-radius: 100px;
						background-color: #FFF;
						opacity: 0.65;
						-webkit-transition: opacity 100ms ease-out;
					    -moz-transition: opacity 100ms ease-out;
					    -ms-transition: opacity 100ms ease-out;
					    -o-transition: opacity 100ms ease-out;
					    transition: opacity 100ms ease-out;
					}
					.b-video-play{
						position: absolute;
						top: 31px;
						left: 40px;
						border: 25px solid transparent;
	    				border-left: 50px solid #FFF;
	    				background-color: transparent;
						opacity: 0.79;
						-webkit-transition: opacity 100ms ease-out;
					    -moz-transition: opacity 100ms ease-out;
					    -ms-transition: opacity 100ms ease-out;
					    -o-transition: opacity 100ms ease-out;
					    transition: opacity 100ms ease-out;
					}
				.b-video:hover .b-video-circle{
					opacity: 0.75;
				}
				.b-video:hover .b-video-play{
					opacity: 1;
				}
				.b-about-video:hover .b-video-back{
					-webkit-transform: scale(1.1);
					   -moz-transform: scale(1.1);
					    -ms-transform: scale(1.1);
					   	 -o-transform: scale(1.1);
							transform: scale(1.1);
				}

		.b-about-right{
			float: left;
			width: 48.9%;
		}
			.b-about-list{
				padding-top: 58px;
			}
				.b-about-item{
					display: table;
					margin-bottom: 32px;
				}
				.b-about-item:last-child{
					margin-bottom: 0;
				}
					.b-about-img{
						display: table-cell;
						vertical-align: middle;
						width: 98px;
					}
					.b-about-text{
						display: table-cell;
						vertical-align: top;
					}
						.b-about-text h3{
							font-size: 21px;
							line-height: 32px;
						}
						.b-about-text p{

						}

.b-photo{
	position: relative;
	overflow: hidden;
}
	.b-photo-slider{
		height: 700px;
	}
		.b-photo-item{
			position: relative;
			width: 1152px;
			height: 700px;
			margin: 0 16px;
			border-radius: 3px;
		}
			.b-photo-img{
				width: 100%;
				height: 700px;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.b-photo-back{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				visibility: hidden;
				background-color: #000;
				border-radius: 3px;
				-webkit-transition: opacity 200ms ease-out, visibility 200ms ease-out;
			    -moz-transition: opacity 200ms ease-out, visibility 200ms ease-out;
			    -ms-transition: opacity 200ms ease-out, visibility 200ms ease-out;
			    -o-transition: opacity 200ms ease-out, visibility 200ms ease-out;
			    transition: opacity 200ms ease-out, visibility 200ms ease-out;
			}

			.b-photo-item.prev-slide,
			.b-photo-item.next-slide{
				cursor: pointer;
			}

			.b-photo-item.prev-slide:hover .b-photo-back,
			.b-photo-item.next-slide:hover .b-photo-back{
				opacity: 0.3;
				visibility: visible;
			}

.main .b-reviews-list{
	margin-bottom: 47px;
}
	.b-reviews-list.slick-dotted.slick-slider{
		margin-bottom: 75px;
	}
	.b-reviews-list .slick-dots{
		bottom: -40px;
	}

	.b-review{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: calc(100%/3 - 20px);
		margin-right: 24px;
	}
	.main .b-review{
		margin-right: 0;
		padding: 0 12px;
	}
	.b-review:nth-child(3n){
		margin-right: 0;
	}
		.b-review-img{
			display: inline-block;
		    width: 140px;
		    height: 140px;
		    border-radius: 100px;
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 28px;
		}
		.b-review-date{
			color: #b9b9b9;
			font-family: 'Ubuntu-Regular';
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 12px;
		}
		.b-review-text{
			margin-bottom: 10px;
		}
		.read-more {
			position: relative;
			color: #3c5d9f;
			padding-right: 28px;
		}
		.read-more:hover{
			text-decoration: underline;
		}
			.icon-more:after{
				position: absolute;
				top: 0;
				right: 0;
			}

.b-gray-block{
	background-color: #f3f2f6;
}

.b-footer{

}
	.b-footer-top{
		padding-top: 40px;
		padding-bottom: 35px;
		border-bottom: 1px solid #dedede;
	}
		.b-footer-left{
			float: left;
			width: 140px;
			margin-right: 56px;
		}
			.b-footer-logo{
				display: block;
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-image: url(../i/logo.svg);
			    background-size: 140px;
			    width: 140px;
			    height: 110px;
			    margin-bottom: 14px;
			}
			.b-footer-social{

			}
			.b-footer-social li{
				display: inline-block;
				vertical-align: top;
				margin-right: 25px;
			}
			.b-footer-social li:last-child{
				margin-right: 0;
			}
				.b-footer-social a{
					font-size: 0;
					width: 100%;
					display: inline-block;
				}
		.b-footer-right{
			width: calc(100% - 200px);
			float: right;
		}
			.b-footer-menu{
				text-align: justify;
				margin-bottom: 15px;
			}
			.b-footer-menu:after {
			    content: '';
			    display: inline-block;
			    width: 100%;
			    vertical-align: top;
			}
				.b-footer-menu li{
					display: inline-block;
					padding-top: 17px;
				}
				.b-footer-menu li:hover a{
					color: #3c5d9f;
				}
				.b-footer-menu li:last-child{
					margin-right: 0;
				}
					.b-footer-menu li a{
						display: block;
						font-family: "RobotoSlab-Bold";
					}

			.b-footer-address-item .icon-clock{
				position: absolute;
				top: 3px;
				left: 0;
			}

		.b-footer-address{

		}
			.b-footer-address-item{
				position: relative;
				float: left;
				width: 25%;
				padding-left: 32px;
				padding-right: 16px;
			}
			.b-footer-address-item:last-child{
				margin-right: 0;
			}
			.b-footer-address-item .icon-pin {
			    position: absolute;
			    top: 3px;
			    left: 0;
			}

	.b-footer-right .b-btn{
		float: right;
		margin-top: 5px;
	}

	.b-footer-bottom{
		border-top: 1px solid #e6e6e6;
		padding: 20px 0;
		font-size: 16px;
		line-height: 26px;
	}
		.b-footer-bottom-left{
			display: inline-block;
		}
			.b-footer-copyright{
				display: inline-block;
				margin-right: 112px;
			}
			.b-btn-dashed{
				display: inline-block;
				line-height: 18px;
				border-bottom: 1px dashed #434343;
			}
			.b-btn-dashed:hover{
				border-bottom: 1px dashed transparent !important; 
			}
			.b-redder{
				float: right;
			}
				.b-redder span{

				}
				.b-redder-logo{
					display: inline-block;
					vertical-align: top;
	    			margin-top: 5px;
					background-position: 50% 0%;
				    background-repeat: no-repeat;
				    background-image: url(../i/redder.svg);
				    width: 80px;
				    height: 14px;
				    background-size: 80px;
				    margin-left: 7px;
				}

/*--------Услуги--------*/

.inner .b-services-item:last-child,
.inner .b-services-item:nth-last-child(2){
	margin-bottom: 0;
}

/*------Специалисты-------*/

.b-header-back{
	position: relative;
	height: 265px;
	width: 100%;
	background-position: 50% 50%;
    background-repeat: no-repeat;
}

	.b-header-back-white{
		position: absolute;
		bottom: -1px;
		z-index: 5;
		height: 180px;
		width: 100%;
		background-position: left bottom;
		background-image: url(../i/header-back-white.png);
		background-repeat: repeat-x;
		background-size: contain;
	}

	.b-header-content{
		position: absolute;
		bottom: 0;
		z-index: 10;
		width: 100%;
	}

		ul.b-breadcrumbs{
			display: inline-block;
			font-family: 'Ubuntu-Regular';
		}
			ul.b-breadcrumbs li{
				float: left;
			}
			ul.b-breadcrumbs li:after {
			    content: "\e900";
			  	font-size: 12px;
			  	color: #3c5d9f;
			    padding: 4px 0px;
			    line-height: 16px;
			    margin: 0 14px;
			}
			ul.b-breadcrumbs li:last-child:after{
				display: none;
			}
				ul.b-breadcrumbs li a{
					color: #3c5d9f;
					border-bottom: 1px solid #3c5d9f;
				}
				ul.b-breadcrumbs li a:hover{
					border-bottom: 1px solid transparent;
					text-decoration: none;
				}

				ul.b-breadcrumbs li span{

				}

.b-specialists-list{

}
	.b-specialists-item{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: calc(25% - 21px);
		margin-right: 24px;
		margin-bottom: 44px;
	    border-radius: 3px;
	}
	.b-specialists-item:nth-child(4n){
		margin-right: 0;
	}
	.b-specialists-item:last-child,
	.b-specialists-item:nth-last-child(2),
	.b-specialists-item:nth-last-child(3),
	.b-specialists-item:nth-last-child(4){
		margin-bottom: 0;
	}
		.specialist-img{
			width: 100%;
			height: 400px;
			background-position: 50% 0;
	    	background-repeat: no-repeat;
	   		background-size: cover;
			margin-bottom: 20px;
			border-radius: 3px;
		}
		.specialist-name{
			line-height: 30px;
			margin-bottom: 10px;
		}
		.specialist-post{
			line-height: 24px;
		}

/*-------Детальная-------*/

.b-side-left{
	width: calc(100% - 294px);
    float: left;
}

.b-side-right{
	width: 270px;
	float: right;
	color: #FFF;
	border-radius: 3px;
	padding: 32px 24px 40px 24px;
	background-image: url(../i/statistics-back.svg), -webkit-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), -moz-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), -o-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), -ms-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-position: 45% 88%;
	background-repeat: no-repeat;
	background-size: 225px, cover;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
	.b-side-content{
		padding: 0 8px;
	}
		.b-side-right h3{
			color: #FFF;
			margin-bottom: 26px;
		}
		.b-side-address{
			position: relative;
			padding-left: 32px;
			margin-bottom: 16px;
		}
			.b-side-address .icon-pin {
			    position: absolute;
			    top: 3px;
			    left: 0;
			}
			.b-side-address .icon-pin:before{
				color: #FFF;
			}
			.b-side-address h4{
				color: #FFF;
				margin-bottom: 2px;
			}
			.b-side-right a{
				color: #FFF;
			}
	.b-side-right .b-btn{
		margin-top: 24px;
		min-width: 0;
	}

/*---------Акции---------*/

.b-stocks{

}
	.b-stock-item{
		display: table;
		margin-bottom: 40px;
	}
	.b-stock-item:last-child{
		margin-bottom: 0;
	}
		.b-stock-img{
			display: inline-block;
			vertical-align: middle;
			width: 270px;
			height: 270px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 200px;
		}
		.b-stock-content{
			display: table-cell;
			vertical-align: middle;
			padding-left: 24px;
		}
			.b-stock-content h3{
				font-size: 28px;
				line-height: 36px;
			}
			.b-stock-content h3:hover{
				text-decoration: underline;
			}
			.b-stock-date{
				color: #3c5d9f;
				margin-bottom: 16px;
			}
			.b-stock-text{

			}

/*-------Отзывы-------*/

.inner .b-reviews{

}
	.inner .b-reviews-list{
		
	}
		.inner .b-review{
			text-align: left;
			margin-bottom: 44px;
		}
			.inner .b-review-top{
				margin-bottom: 24px;
			}
				.inner .b-review-img{
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 0px;
				}
				.inner .b-review-name{
					width: calc(100% - 172px);
					display: inline-block;
					vertical-align: middle;
					margin-left: 27px;
				}
					.inner .b-review-name h3{
						line-height: 30px;
					}

/*-------Контакты-------*/

.b-contacts{
	margin-bottom: 45px;
}
	.b-contacts-left{
		padding-right: 24px;
	}
	.b-contacts-left,
	.b-contacts-right{
		float: left;
		width: 50%;
	}
	.b-map {
	    width: 100%;
	    height: 440px;
	    border-radius: 3px;
	}

/*---------Popup----------*/

.b-popup{
	width: calc(100% - 48px);
	max-width: 500px;
	color: #FFF;
	padding: 44px 50px 55px 50px;
	border-radius: 3px;
	background-image: url(../i/statistics-back.svg), -webkit-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), -moz-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), -o-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), -ms-linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-image: url(../i/statistics-back.svg), linear-gradient(135deg, #4769a7 0%, #3b4674 100%);
	background-position: 90% 94%;
	background-repeat: no-repeat;
}
	.b-popup h2{
		color: #FFF;
		margin-bottom: 32px;
		padding-right: 24px;
	}
	.b-popup .b-btn{
		margin-top: 40px;
		min-width: 250px;
	}
	.b-popup-register{
		overflow: visible;
	}
		.b-popup-register h2{
			margin-bottom: 40px;
		}
		.b-form-register{

		}

.b-input-time{
	position: relative;
}

	.b-time-list{
		overflow: hidden;
		width: 270px;
		z-index: 101;
		padding: 18px 20px 22px;
		position: absolute;
		right: 0px;
		top: 56px;
		background-color: #FFF;
		border-radius: 3px;
		-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
		border: 1px solid #e4e4e4;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 200ms ease-out, visibility 200ms ease-out;
	    -moz-transition: opacity 200ms ease-out, visibility 200ms ease-out;
	    -ms-transition: opacity 200ms ease-out, visibility 200ms ease-out;
	    -o-transition: opacity 300ms ease-out, visibility 200ms ease-out;
	    transition: opacity 200ms ease-out, visibility 200ms ease-out;
	}
	.b-time-list.show{
		visibility: visible;
		opacity: 1;
	}
		.b-time-list ul{
			width: 62px;
   			display: inline-block;
    		vertical-align: top;
    		margin-right: 16px;
		}
		.b-time-list ul:last-child{
			margin-right: 0;
		}
			.b-time-list ul li{
				text-align: center;
				margin-bottom: 4px;
			}
			.b-time-list ul li:last-child{
				margin-bottom: 0;
			}
				.b-time-list ul li input{
					position: absolute;
					opacity: 0;
					visibility: hidden;
				}
				.b-time-list ul li label{
					display: block;
					color: #434343;
					cursor: pointer;
					border-radius: 3px;
					font-family: 'Ubuntu-Regular';
					font-size: 16px;
					line-height: 24px;
					padding: 3px 0;
					border: 1px solid transparent;
				}
				.b-time-list ul li label:hover{
					border: 1px solid #3c5d9f;
					color: #3c5d9f;
				}
				.b-time-list ul li input:checked + label{
					background-color: #3c5d9f;
					color: #FFF;
				}
				.b-time-list ul li input:checked + label:hover{
					color: #FFF;
				}

.fancybox-close-small{
	position: absolute;
    right: 23px;
    top: 23px;
}

.fancybox-close-small:after{
	content: "\e912";
	position: absolute;
	left: 8px;
	top: 10px;
    color: #FFF;
    opacity: 0.7;
    font-size: 20px;
    width: auto;
    height: auto;
    background-color: transparent;
}

.fancybox-close-small:hover:after {
	opacity: 1;
    color: #FFF;
    background-color: transparent;
}

/*-------datepicker-------*/

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
	box-sizing: content-box;
}

.ui-widget-header .ui-icon{
	background-image: url(../i/ui-icons_444444_256x240.png);
}

.ui-datepicker {
    width: 270px;
    padding: 12px;
}

.ui-widget-header {
    border: 0;
    background: transparent;
}

.ui-widget.ui-widget-content {
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
	.ui-datepicker th {
	    font-weight: normal;
	    border: 0;
	    color: #434343;
		font-family: 'RobotoSlab-Bold';
		font-size: 16px;
		line-height: 24px;
	}
	.ui-datepicker td{
		padding: 0;
	}

	.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default{
		text-align: center;
		border: 1px solid transparent;
	    background: transparent;
	    font-weight: normal;
	    color: #434343;
		font-family: 'Ubuntu-Regular';
		font-size: 16px;
		line-height: 24px;
	}

	.ui-datepicker .ui-state-highlight, .ui-datepicker .ui-widget-content .ui-state-highlight{
	    color: #f14942;
	}

	.ui-datepicker .ui-state-hover, .ui-datepicker .ui-widget-content .ui-state-hover{
		border-radius: 3px;
		border: 1px solid #3c5d9f;
	    background: transparent;
	    color: #3c5d9f;
	}

	.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active{
		border-radius: 3px;
		border: 1px solid #3c5d9f;
	    background: #3c5d9f;
	    color: #FFF;
	}

.ui-datepicker-month, .ui-datepicker-year{
	color: #434343;
	font-family: 'Ubuntu-Regular';
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}
.ui-datepicker-month{
	margin-right: 4px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
	text-align: center;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover{
	border: 1px solid transparent;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font-size: 14px;
   	color: #1e201d;
    line-height: 28px;
}
.ui-datepicker .ui-datepicker-prev:before{
    content: "\e914";
}
.ui-datepicker .ui-datepicker-next:before{
    content: "\e900";
}

.hidden-datepicker {
    width: 100%;
    position: absolute !important;
    line-height: 30px;
    left: -5px;
}

.ui-datepicker {
    position: absolute !important;
    top: -24px !important;
    left: 5px !important;
}

/*-----------Slideout-----------*/

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.b-menu-overlay{
	display: none;
    /*-webkit-transition: opacity 150ms ease-out;
    -moz-transition: opacity 150ms ease-out;
    -ms-transition: opacity 150ms ease-out;
    -o-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 205;
    background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1500px){
	.b-header-back{
	    background-size: cover;
	}
}

/*-------------------*/

@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}