body {
	min-width: 320px;
}

.b-block{
	width: calc(100% - 48px);
}

/*---------------------------*/

.b-content{
	padding: 40px 0 50px 0;
}

h1.b-title{
	font-size: 36px;
	line-height: 44px;
}

h2.b-title{
	font-size: 32px;
	line-height: 40px;
	padding-top: 40px;
    margin-bottom: 40px;
}
.b-menu{
	min-height: 56px;
	padding: 0 24px;
}
.b-menu .burger-menu{
	float: left;
	display: inline-block;
	margin-top: 16px;
}
.b-menu .b-btn-red{
	min-width: 203px;
	float: right;
	display: inline-block;
	padding: 10px 20px 12px 20px;
	margin-top: 9px;
}
.b-menu-list{
	display: none;
}

.b-slider,
.b-slider .slick-slide,
.b-slider-content{
	height: 400px;
}

.b-services{

}
	.b-services-list{

	}
		.b-services-item{
			width: calc(100%/2 - 14px);
		}
		.b-services-item:nth-child(3n){
			margin-right: 24px;
		}
		.b-services-item:nth-child(2n){
			margin-right: 0;
		}

		.inner .b-services-item:last-child,
		.inner .b-services-item:nth-last-child(2){
			margin-bottom: 0;
		}

.b-statistics {
    width: 100%;
    margin-bottom: 40px;
    background-position: 79% 88%;
}

.b-statistics h2{
	text-align: center;
	margin-bottom: 24px;
}
	.b-statistics-item {
	    margin-bottom: 24px;
	}

.b-about{
	padding: 50px 0;
}

	.b-about-content {
	    margin-bottom: 35px;
	}

	.b-about-left {
	    float: none;
	    width: 100%;
	    padding-right: 0;
	}
	.b-about-right {
	    float: none;
	    width: 100%;
	}

	.b-about-list {
	    padding-top: 35px;
	}

.b-photo-slider,
.b-photo-item,
.b-photo-img{
	height: 406px;
}

.b-photo .b-photo-arrows.icon-left-arrow{
	top: 174px;
	left: 0;
}
.b-photo .b-photo-arrows.icon-right-arrow{
	top: -232px;
	right: 0;
}

.b-slider-content-item h2{
	padding: 0 24px;
	font-size: 34px;
	line-height: 42px;
}
.b-slider-content-item .b-slider-text-small{
	font-size: 24px;
	line-height: 32px;
}

.b-slider-content-item {
    bottom: 48px;
}

.b-slider-arrows.icon-left-arrow{
	top: 164px;
}
.b-slider-arrows.icon-right-arrow {
    top: -236px;
}

.b-review{
	display: inline-block;
	width: 100%;
	margin-right: 0;
}
.main .b-review{
	padding: 0 50px;
}

.b-stock-img {
    width: 170px;
    height: 170px;
}

.b-specialists-item{
	width: calc(100%/2 - 16px);
}
.b-specialists-item:nth-child(3n){
	margin-right: 24px;
}
.b-specialists-item:nth-child(2n){
	margin-right: 0;
}
.b-specialists-item:nth-last-child(4),
.b-specialists-item:nth-last-child(3){
	margin-bottom: 44px;
}

.b-side-left {
    width: 100%;
    max-width: 100%;
    float: none;
}
.b-side-right {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    float: none;
    margin-top: 40px;
    padding: 24px 24px 32px 24px;
	background-position: 93% 84%;
}
	.b-side-content{
		padding: 0;
	}
	.b-side-right h3{
		text-align: center;
	}

	.b-side-right .b-btn{
		margin-top: 10px;
	}

.b-side-address {
    float: left;
    width: 50%;
    padding-right: 24px;
}

.b-reviews-list{
	margin-bottom: 40px;
}
.b-review-text {
    margin-bottom: 16px;
}
.b-reviews .b-photo-arrows.icon-left-arrow{
	top: 162px;
	left: 0;
}
.b-reviews .b-photo-arrows.icon-right-arrow {
    top: 162px;
    right: 0;
}

.b-about-left {
	text-align: center;
}
.b-about-header {
    display: inline-block;
}
.b-about-left p,
.b-about-left .p{
	text-align: left;
}

.b-footer-menu{
	display: none;
}

.b-top-list{
	display: block;
}
.b-top .b-timetable,
.b-top-item .b-btn-red{
	display: none;
}
.b-top .b-address,
.b-logo-cont{
	float: left;
    display: inline-block;
    width: 33%;
}
.b-top-item .icon-pin{
	top: 20px;
}
.b-top-item{
	padding-right: 0;
}
.b-top-item-inner{
	position: relative;
	float: right;
}
.b-top-item-inner .icon-pin{
	top: 3px;
	left: -32px;
}
.b-top .b-address.b-address-2{
	float: right;
}
.b-address-timetable{
	display: block;
}
.b-top .b-address,
.b-top .b-timetable {
	padding-top: 16px;
    padding-left: 32px;
}

.b-footer-copyright{
	display: block;
}
.b-redder{
	margin-top: 12px;
}

.b-photo-item {
    width: 768px;
}

.b-footer-address-item{
	width: 50%;
	margin-bottom: 32px;
}
.b-footer-address-item .b-address-timetable{
	display: none;
}
.b-footer-right .b-btn {
    float: left;
    margin-top: 5px;
}
.b-footer-address-item.b-timetable{
	display: block;
	margin-bottom: 0;
}
.b-footer-left {
    margin-right: 30px;
}
.b-footer-right {
    width: calc(100% - 172px);
}
.b-footer-copyright{
	margin-right: 0;
}

.b-side-right h3 {
    font-size: 26px;
    line-height: 32px;
}
.slideout-panel {
  will-change: transform;
}

.b-logo {
    background-image: url(../i/logo-mobile@2x.png);
}
.b-footer-logo {
    background-image: url(../i/logo-mobile-footer@2x.png);
}

@media screen and (max-width: 665px){

	.b-top-item.b-address{
		display: none;
	}
	.b-timetable-mobile{
		display: block;
		float: left;
		width: 33%;
		margin-top: 20px;
	}
		.b-timetable-mobile .content{
			width: 100px;
		}
	.b-top-phone-mobile{
		position: relative;
		display: block;
		float: left;
		width: 33%;
	    margin-top: 20px;
	}
		.b-top-phone-mobile .icon-phone{
			position: absolute;
			top: 2px;
			right: 77px;
		}
		.b-top-phone-mobile .content{
			float: right;
			text-align: right;
			width: 90px;
		}
	.b-logo {
	    background-size: 100px;
	    width: 100px;
	    height: 82px;
	}
	.b-logo-cont {
		padding-right: 0;
	}
	.b-footer-left {
	    float: none;
	    width: 100%;
	    margin-bottom: 24px;
	}
	.b-footer-logo{
	    display: inline-block;
	    margin-right: 24px;
	    margin-bottom: 0;
	}
	.b-footer-social-cont{
	    display: inline-block;
	    vertical-align: top;
	}
	.b-footer-social{
		margin-bottom: 16px;
	}
	.b-footer-timetable-mobile{
		display: inline-block;
	}
	.b-footer-address-item,
	.b-footer-address-item.b-timetable{
		display: none;
	}
	.b-footer-right {
		float: none;
	    width: 100%;
	    text-align: center;
	}
	.b-footer-right .b-btn {
	    float: none;
	    margin-top: 0;
	}

	.b-input.b-input-half{
		width: 100%;
	}

	.b-time-list {
	    width: 100%;
	}
	.b-time-list ul {
	    width: calc(100%/3 - 15px);
	}

	.b-stock-content h3 {
	    font-size: 24px;
	    line-height: 30px;
	}

}

@media screen and (max-width: 550px){

	.b-block{
		width: calc(100% - 32px);
	}
	h1.b-title{
		font-size: 32px;
		line-height: 40px;
	}
	h2, h2.b-title{
		font-size: 24px;
		line-height: 32px;
	}
	h3, .b-services-item h3, .b-about-text h3{
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 8px;
	}
	.b-review-name h3{
		margin-bottom: 0;
	}
	.b-statistics h2{
		margin-bottom: 16px;
	}
	.b-about-header-item h2{
		font-size: 24px;
		line-height: 32px;
		padding-right: 7px;
	}
	.b-about-header-item p{
		font-size: 16px;
	}
	.b-slider-content-item h2{
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 6px;
	}
	.b-slider-content-item .b-slider-text-small {
	    font-size: 18px;
	    line-height: 24px;
	}

	.b-menu {
	    min-height: 56px;
	    padding: 0 20px;
	}

	.b-services-item{
		width: 100%;
		margin-right: 0;
	}
	.b-services-item:nth-child(3n){
		margin-right: 0;
	}

	.b-statistics {
	    padding: 28px 32px 32px;
	}

	.b-statistics-half:first-child,
	.b-statistics-half:last-child{
		float: none;
		width: 100%;
		padding-left: 58px;
		padding-right: 0;
		margin-bottom: 24px;
	}

	.inner .b-services-item:nth-last-child(2){
		margin-bottom: 40px;
	}

	.b-stock-img {
	    width: 120px;
	    height: 120px;
	}

	.b-specialists-item{
		width: 100%;
		margin-right: 0;
	}
	.specialist-img {
	    height: 135vw;
	}
	.b-specialists-item:nth-last-child(2){
		margin-bottom: 44px;
	}

	.b-side-right{
		text-align: center;
	}

	.b-side-address {
	    float: none;
	    width: auto;
	    text-align: left;
	    padding-right: 0;
	    display: inline-block;
	    margin-right: 24px;
	}
	.b-side-address:last-child{
		margin-right: 0;
	}

	.b-services-img{
		width: 110px;
		height: 110px;
		margin-right: 16px;
		vertical-align: top;
	}
	.b-services-content{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 168px);
	}
	.b-about-img {
	    vertical-align: top;
	    padding-top: 10px;
	}
	.b-about-video{
		margin-top: 24px;
	}

	.b-photo-slider, .b-photo-item, .b-photo-img {
	    height: 228px;
	}
	.b-photo .icon-left-arrow:before,
	.b-photo .icon-right-arrow:before{
		color: #FFF;
	}
	.b-photo .b-photo-arrows.icon-left-arrow {
	    top: 90px;
	    left: -16px;
	}
	.b-photo .b-photo-arrows.icon-right-arrow {
	    top: -138px;
	    right: -16px;
	}
	.b-photo-arrows{
		background-color: transparent;
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
		box-shadow: none;
	}
	.b-photo-arrows:hover {
	    background-color: transparent;
	}
	.b-photo-item {
	    width: 550px;
	}
	.b-reviews .b-photo-arrows.icon-left-arrow,
	.b-reviews .b-photo-arrows.icon-right-arrow {
	    top: 171px;
	}
	.b-reviews .b-photo-arrows {
	    width: 36px;
	    height: 36px;
	    -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
   		-moz-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
	}
	.b-reviews .b-photo-arrows.icon-right-arrow:before {
	    left: 15px;
	}
	.b-reviews .b-photo-arrows.icon-left-arrow:before {
	    left: 13px;
	}
	.b-reviews .b-photo-arrows.icon-left-arrow:before,
	.b-reviews .b-photo-arrows.icon-right-arrow:before{
	    top: 2px;
	    font-size: 14px;
	}
	.b-services-content {
	    width: calc(100% - 138px);
	}
	.b-photo-item {
	    width: 100vw;
	}

}

@media screen and (max-width: 450px){

	.b-statistics {
	    padding: 20px;
	}
	.main .b-review {
	    padding: 0 36px;
	}
	
	.inner .b-review-img {
	    width: 110px;
	    height: 110px;
	}
	.inner .b-review-name {
	    width: calc(100% - 136px);
	    margin-left: 18px;
	}

	.b-stock-item {
	    display: block;
	}

	.b-stock-content {
	    display: block;
	    padding-left: 0;
	}

	.b-stock-img{
		width: 170px;
		height: 170px;
		margin-bottom: 24px;
	}

	.b-popup h2,
	.b-popup-register h2 {
	    margin-bottom: 24px;
	}

	.b-popup{
		padding: 28px 32px 36px 32px;
	}

	.b-popup .b-btn {
	    margin-top: 28px;
	}

	.b-about-video{
		height: 220px;
	}
	.b-video {
	    top: calc(50% - 40px);
	    left: calc(50% - 40px);
	    width: 80px;
	    height: 80px;
	}
	.b-video-play {
	    top: 22px;
	    left: 29px;
	    border: 18px solid transparent;
	    border-left: 36px solid #FFF;
	}

}

@media screen and (max-width: 374px){

	.icon-situation:before{
		font-size: 44px;
		line-height: 62px;
	}
	.icon-equipment:before{
		font-size: 64px;
		line-height: 84px;
	}
	.icon-spec:before{
		font-size: 60px;
    	line-height: 78px;
	}
	.icon-price:before{
		font-size: 62px;
    	line-height: 76px;
	}

	.b-about-img {
	    vertical-align: top;
	    width: 78px;
	}
	.b-about-img {
	    padding-top: 0;
	}
	.b-services-img {
	    width: 80px;
	    height: 80px;
	}
	.b-services-content {
	    width: calc(100% - 102px);
	}

}